body {
  padding-bottom: 20px;
}

.header {
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  border-bottom: 1px solid #e5e5e5;
  min-height: 4em;
  color: white;
  background-color: black;
}



/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
