<h1>Welcome {{user.name}}</h1>

{{#each zones }}
<!-- Show list of Zones -->
{{else}}
  <h4>It looks like you haven't created any zones yet</h4>
  <a href="/zone/create" class="btn btn-primary" role="button">Create Zone</a>
{{/each}}