<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>FZ Radio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="header clearfix">
    {{#if user}}
      <nav>
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="/">Home</a></li>
          <li role="presentation"><a href="/logout">Logout</a></li>
        </ul>
        <h3 class="text-muted">FZ Radio</h1>
      </nav>
    {{/if}}
  </div>
  <div class="container">
    {{{body}}}
  </div>

</body>
</html>